<h2>Stupid Coaching</h2>

<div> <class class="replies">
  <p><%= @question %> <br><class class="input"> - You </class></p>
  <p><%= @answer %><br><class class="input"> - Your coach </class></p>

</class>
</div>

<%= link_to'Ask a new question', ask_path%>
