// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  font-weight: lighter;
  font-family: 'Varela Round', sans-serif;
}
h2 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

.input{
  font-style: italic;
}

.replies{
  border-left: 5px;
  border-left-color: color;
}
